<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="com.wj.taotao.controller" />
    <mvc:annotation-driven />
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <mvc:default-servlet-handler />

    <!--上传文件-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8" />
        <property name="maxUploadSize" value="5242880" />
    </bean>

    <!--引入dubbo服务-->
    <dubbo:application name="taotao-manager-web" />
    <dubbo:registry protocol="zookeeper" address="10.0.0.116:2181" />
    <dubbo:reference interface="com.wj.taotao.service.ITestService" id="testService"  />
    <dubbo:reference interface="com.wj.taotao.service.IItemService" id="itemService"  />
    <dubbo:reference interface="com.wj.taotao.content.service.IContentCategoryService" id="contentCategoryService" />
    <dubbo:reference interface="com.wj.taotao.service.IItemCatService" id="itemCatService" />
    <dubbo:reference interface="com.wj.taotao.content.service.IContentService" id="contentService" />
    <dubbo:reference interface="com.wj.taotao.search.service.ISearchItemService" id="searchItemService" timeout="60000"  />
</beans>